.header_core {
    display: flex;
    justify-content: space-between; /* Adjusted this property */
    align-items: center;
    box-sizing: border-box;
    min-height: auto;
    padding: 25px 32px 0;
    border-bottom: none;
  }
  
  .header_logo {
    width: 270px;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 18px;
  }
  
  .header_searchInput {
    background: #fff;
    color: #222;
    font-style: normal;
    font-weight: 400;
    height: 48px;
    padding: 5px 6.4285714286em 5px 16px;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 0;
    min-width: 24.0625em;
  }
  
  .header_searchInput:focus {
    box-shadow: none;
    outline: solid 1px;
    outline-offset: -3px;
  }
  
  .left_core {
    display: flex;
    flex: 1;
  }
  
  .logomiddle_core {
    width: 300px;
    height: 120px;
  }
  
  .right_core {
    display: flex;
    flex: 1;
    position: relative;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
  }
  
  .right_core > div {
    margin-left: 15vmin; /* Adjust this spacing as needed */
  }
  
  .account {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    background: 0 0;
    border: 0;
    padding: 0;
    color: #222;
  }
  
  .signbutton {
    background: 0 0;
    border: 0;
    padding: 0;
    color: #222;
    cursor: pointer;
    text-decoration: none;
  }
  
  .location {
    width: 0.1em;
    height: 0.1em;
    padding: 1px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .favorites {
    width: 0.1em;
    height: 0.1em;
    padding: 1px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .cart {
    width: 0.1em;
    height: 0.1em;
    padding: 1px;
    cursor: pointer;
  }
  