.header_core {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: none;
  font-family: 'Arimo', sans-serif;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2000;

}
.logo_core {
  display: flex;
  align-items: center; /* Center vertically within the container */
}
.logo_core img {
  max-width: 100%; /* Ensure the image fits within the container */
  height: 11vmin; /* Maintain the aspect ratio */
  margin-left: 10px;
}
.search_container {
  display: flex;
  flex: 1;
  position: relative; /* Add this line to create a positioning context */
}
.header_searchInput {
  background: #fff;
  color: #222;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  padding: 5px 40px 5px 16px; /* Adjust the right padding for the icon */
  font-size: 14px;
  border: 1px solid #666;
  border-radius: 9999px;
  width: 100%;
}
.search_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  padding-right: 6px;
  cursor: pointer;
  color: #666;
  font-size: 23px;
}
.right_core {
  display: flex;
  align-items: center;
  padding-right: 70px;
  padding-left: 30px;
  font-size: 14px;
}
.account a {
  text-decoration: none;
  color: black;
}
.signbutton {
  background: 0 0;
  border: 0;
  padding: 0;
  color: #222;
  cursor: pointer;
  text-decoration: none;
}
.humanicon {
  margin-left: 23px;
}
.location {
  margin-left: 20px;
}
.favorites {
  margin-left: 20px;
}
.favorites:hover{
  cursor: pointer;
}
.cart {
  margin-left: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContent {
  max-width: 1400px;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 28px;
  cursor: pointer;
}
.favorite_icon_container{
  position: relative;
}
.favorite_count{
  position:absolute;
  top: -15px;
  left: 10px;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 50%;
  background-color: red;
}
.cart{
  position: relative;
  cursor: pointer;
}

.item_count{
  position:absolute;
  top:-15px;
  padding: 2px 4px;
  left:15px;
  color: #ffffff;
  border-radius: 50%;
  background-color: red;
}