.DepartmentList, .listButton {
  list-style-type: none;
  background-color: #222;
  display: flex;
  margin: 0;
  padding: 15px 20px;
  flex-direction: row;
  border: 0;
  width: 100%;
  white-space: normal;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  justify-content: space-around;
  font-family: 'Arimo', sans-serif;
}

.listItem:hover {
  cursor: pointer;
  padding-bottom: 8px solid #f1f1f2;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: white;
  margin-top: 0.8%;
  width: 100%;
  color: black;
  background-color: rgb(247, 246, 246);
}

.modal.active {
  visibility: visible;
}

.modal.inactive {
  visibility: none;
}

.SubcategoryList {
margin-top: 0.6%;
margin-bottom: 0.6%;
list-style-type: none;
text-align: center;
}

.SubcategoryList a { 
font-weight: bold;
color: black;
text-decoration: none; 
margin-bottom: 0.6%;
}

.SubcategoryList a:hover { 
color: red; 
}

@media (max-width: 810px) {
  .DepartmentList {
    flex-direction: column; 
    align-items: center;
  }

  .listItem {
    text-align: center; 
  }

}