.DepartmentList {
  list-style-type: none;
  background-color: #222;
  display: flex;
  margin: 0;
  padding: 15px 20px;
  flex-direction: row;
  border: 0;
  width: auto;
  white-space: normal;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  justify-content: space-around;
  font-family: 'Arimo', sans-serif;
  padding-left: 120px;
  padding-right: 120px;
}

.listItem:hover {
  cursor: pointer;
  border-bottom: 8px solid #f1f1f2;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  margin-top: 0.8%;
  width: 100%;
  color: black;
  background-color: #f1f1f2;}

.modal.active {
  visibility: visible;
}

.modal.inactive {
  visibility: none;
}

.SubcategoryList {
margin-top: 5%;
margin-bottom: 15%;
list-style-type: none;
text-align: center;
}

.SubcategoryList a { 
font-weight: bold;
font-size: 2vmin;
color: black;
text-decoration: none; 
margin-bottom: 0.6%;
}

.SubcategoryList a:hover { 
border-bottom: 3px solid #222;
font-size:2.1vmin; 
padding: 1.5px;
}