.DepartmentList, .listButton {
  position: -webkit-sticky;
  position: sticky;
  top: 13vmin;
  bottom: 83vmin;
  z-index: 1;
  list-style-type: none;
  background-color: #222;
  display: flex;
  margin: 0;
  padding: 15px 20px;
  flex-direction: row;
  width: auto;
  white-space: normal;
  color: #fff;
  font-size: 1.7vmin;
  font-weight: 600;
  text-decoration: none;
  justify-content: space-around;
  font-family: 'Arimo', sans-serif;
}

.listItem:hover {
  cursor: pointer;
  border-bottom: 2vmax solid #f1f1f2;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000; 
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  background-color: white;
  margin-top: 0.8%;
  width: 100%;
  color: black;
  background-color: #f1f1f2;
}

.modal.active {
  visibility: visible;
}

.modal.inactive {
  visibility: none;
}

.SubcategoryList {
margin-top: .6%;
margin-bottom: .6%;
list-style-type: none;
text-align: center;
}

.SubcategoryList a { 
font-weight: bold;
font-size: 1.7vmin;
color: black;
text-decoration: none; 
margin-bottom: 0.6%;
}

.SubcategoryList a:hover { 
border-bottom: 3px solid #222;
font-size: 1.8vmin; 
padding: 1.5px;
}

@media (max-width: 810px) {
  .DepartmentList {
    flex-direction: column; 
    align-items: center;
  }

  .listItem {
    text-align: center; 
  }

}