.DepartmentList {
    list-style-type: none;
    background-color: #222;
    display: flex;
    margin: 0;
    padding: 15px 20px;
    flex-direction: row;
    border: 0;
    width: auto;
    white-space: normal;
    color: #fff;
    font-size: 2vmin;
    font-weight: 600;
    text-decoration: none;
    justify-content: space-around;
    font-family: 'Arimo', sans-serif;
    padding-left: 120px;
    padding-right: 120px;
  }

  /*.DepartmentList:hover {
    image-resolution: rgba(0, 0, 0, 0.5);
  }*/

  .listItem:hover {
    color: red;
    cursor: pointer;
  }
  
  .modal {
    position: absolute;
    left: 0;
    right: 0;
    /*z-index: 1000; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 0.8%;
    width: 100%;
    background-color: rgb(247, 246, 246);
  }

  .modal.active {
    visibility: visible;
  }

  .modal.inactive {
    visibility: none;
  }

.SubcategoryList {
  margin-top: 1.4%;
  margin-bottom: 1.4%;
  list-style-type: none;
  text-align: center;
}

.SubcategoryList a { 
  font-weight: bold;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: .8vmin;
  padding: .4vmin 2vmin;
  text-decoration: none; 
  margin-bottom: 0.6%;
  font-size: 2vmin;
}

.SubcategoryList a:hover { 
  color: red;
  border: 2px solid #000;
  border-radius: .8vmin;
  padding: 3.5px;
  font-size: 2.1vmin;
}


