.second_nav {
    text-transform: uppercase;
    list-style-type: none;
    background-color: white;
    display: flex;
    position: relative;
    margin-left: 20px;
    padding: 0 270px 20px 270px;
    height: auto;
    overflow: visible;
    white-space: normal;
    color: #222;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    justify-content: space-around;
    letter-spacing: 2px;
    line-height: 16px;
  }
  