.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
  padding-bottom: 1.5vh;
  
}

.imageContainer {
  position: relative;
  max-width: 30%; 
  max-height: 30%;
  border-radius: 40px;
  transition: transform 0.3s ease-in-out;
  
}


.galleryImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.imageContainer:hover {
  transform: scale(1.05); 
  filter: brightness(0.9);
}

.imageTextContainer {
  position: absolute;
  bottom: 5vh; 
  left: 5px; 
  color: white; 
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.imageTopText {
  font-size: 20px;
  padding: 0;
  text-decoration: line-through;
}


.imageBottomText {
  font-size: 40px;
  font-weight: bold;
  color:rgb(245, 227, 64)
}




@media screen and (max-width: 650px) and (min-width: 100px) {
  .imageContainer {
    max-width: 50%; 
    max-height: 50%;
  } 

  }



