.wishlistcontainer{
    text-align: center;
    padding: 20px;
    border:1px solid #ccc;
    border-radius:8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding:8px 16px;
    cursor: pointer;
    font-size: 14px;
}

p{
    font-size: 18px;

}

.productList{
    margin-top: 10px;
}