.header_banner_container {
    color: #666;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 32px;
    width: 100%;
    list-style-type: none;
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 32px;
    margin-right: 16px;
    min-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  .cb {
    border: 1px solid #666;
    padding: 3px 3px 3px 3px;
  }
  