///css
.OrderHistoryPage {
    height: 100%;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    border-radius: 2vmin;
  }
  
  
  .OrderHistoryPage .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
    
  }
  
  .logo {
      max-width: 70%;
      max-height: 70%;
      height: auto;
    }
  
    .btnsm {
      color: black;
      background-color: maroon;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); 
      border: none;
      padding: .6vmin .8vmin;
      border-radius: 8px; 
      text-decoration: none;
      font-weight: bold;
  }
  
  .btnsm:hover {
    background-color: goldenrod;
    transform: scale(0.98);
  }